* {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.block {
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #B3DEC1;
}

.a {
    color: #E5FCF5;
    text-decoration: none;
}

.li {
    display: inline-block;
    padding: 10px;
    background-color: #210124;
    margin-right: 10px;
    border: 1px hidden black;
    border-radius: 8px;
}

.li:last-child {
    margin-right: 0px;
}

a:hover {
    color: #210124;
}

li:hover {
    background-color: #E5FCF5;
}


