form {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
}

.tel {
    color: black;
}

.block-1 {
    display: flex;
}

.title {
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    margin-bottom: 2.3rem;
    font-size: 2rem;
    color: #263555;
}

td,
input {
    font-family: Arial;
}

td {
    width: 7.6rem;
}

.tables {
    margin-top: 4.5rem;
}

.table-first {
    margin-bottom: 2.94rem;
}

caption {
    text-align: left;
    width: 12.5rem;
    margin-bottom: 1.25rem;
}

.mail {
    color: red;
}

.input {
    margin-bottom: 1.062rem;
}

.four {
    resize: none;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1.375rem;
}

.button {
    width: 3.625rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.312px;
    background-color: #fbf6f8;
    border: 1px solid #b1aaaa;
    box-shadow: 0.062rem 0.062rem 0.125rem #e6e4e4;
}

.clear {
    margin-right: 0.327rem;
}

.one,
.two,
.three,
.four {
    padding: 0.125rem;
    background-color: #fcfafa;
    border: 1px solid #d4d0d0;
}

.input::-webkit-input-placeholder {
    color: #263555;
    text-transform: uppercase;
}