* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: 1rem 0 1rem 0;
    background-color: white;
    padding: 1rem;
}