    @media (max-width:1200px) {
        .gallery-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .wrapper {
            width: 48rem;
            margin-top: 6.25rem;
        }
        header {
            width: 48rem;
        }
        footer {
            width: 48rem;
        }
        .link-icon {
            width: 48rem;
        }
        figure:last-child {
            display: none;
        }
        .tel::before {
            content: url(../img/mobile-phone.png);
        }
        .e-mail::before {
            content: url(../img/envelope.png);
        }
        .menu {
            margin-top: 18.75rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .menu-item:nth-child(3) {
            margin-right: 0;
        }
        .menu-item:nth-child(n+3) {
            margin: 0 4.375rem 0 4.375rem;
        }
        .menu-item {
            text-align: center;
            margin: 0 4.375rem 0 4.375rem;
        }
        .submenu {
            border-radius: 10%;
        }
        figure:nth-child(n+7) {
            margin-bottom: 0.625rem;
        }
        .footer-contacts {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        footer {
            font-size: 1.25rem;
        }
    }
    
    @media (max-width:768px) {
        .wrapper {
            width: 30rem;
        }
        header {
            width: 30rem;
        }
        .menu {
            margin-top: 1.875rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .menu-item:nth-of-type(n+1) {
            margin: 0 1.875rem 0 1.875rem;
        }
        footer {
            width: 1.875rem;
            padding: 3.75rem 2.75rem;
        }
        .link-icon {
            width: 1.875rem;
        }
        .gallery-body {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
        }
        figure {
            margin-bottom: 0.625rem;
        }
    }
